.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  gap: 16px;
  margin: 10px;
  padding: 20px;
  border: none;
  background-color: #333;
}

.btn {
  background-color: #A100ED;
  max-width: 300px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  &:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
}

.textInput {
  display: flex;
  border: none;
  color: white;
  font-size: 1rem;
  background-color: #333;
  justify-content: center;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: solid, #A100ED, 2px;
  border-radius: 25px;
}

.text {
  color: white;
}

::placeholder {
  color: rgb(255, 255, 255);
  font-size: 1rem;
}
